In [ ]:
#Attribute DataSet and Dress Sales are connected through DressID(unique key)

MySQL:
    1.Create a table for Attribute DataSet and Dress Sales
    2.Do a bulk load for these two table for respective dataset
    3.Read these datatset in pandas as a dataframe(pandas.DataFrame in place of for loop in fetchall())
    4.Convert attribute dataset in json format
    5.Store this dataset into MongoDB(insert_many)
    6.In SQL task try to perform left join opeartion with Attribute Dataset and Dress Sales on Column(DressID).
    7.Write  a SQL Query to find out how many unique dress that we have , based on DressID
    8.Try to find out how many dress is having recommendation =0
    9.Try to find out total dress sale for each dressID(individually)
    10.Try to find out 3rd highest most selling dressID

In [ ]:
##1.Create a table for Attribute DataSet and Dress Sales
##2.Do a bulk load for these two table for respective dataset
show databases;
create database task24;
use task24;

#table creation for Attribute DataSet
create table if not exists AttributeData (
Dress_id int ,
Style varchar(30) , 
Price varchar(30) , 
Rating decimal (2,1) ,
Size varchar(30),
Season varchar(30),
Neckline varchar(30),
SleeveLength varchar(30) , 
Waistline varchar(30) ,
Material varchar(30) , 
FabricType varchar(30) , 
Decoration varchar(30) , 
PatternType varchar(30) , 
Recommendation int
);

#Importing Data into table AttributeData
LOAD DATA LOCAL INFILE 'C:\Users\edxxdee\Attribute DataSet.csv' INTO TABLE AttributeData
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 ROWS;

#Checking imported data
select * from AttributeData;

#Creating table for Dress Sales
create table if not exists DressSales (
Dress_id int ,
`29/8/2013` int , 
`31/8/2013` int , 
`2/9/2013` int ,
`4/9/2013` int ,
`6/9/2013` int,
`8/9/2013` int,
`10/9/2013` int , 
`12/9/2013` int ,
`14/9/2013` int , 
`16/9/2013` int , 
`18/9/2013` int , 
`20/9/2013` int , 
`22/9/2013` int ,
`24/9/2013` int ,
`26/9/2013` int ,
`28/9/2013` int ,
`30/9/2013` int ,
`2/10/2013` int ,
`4/10/2013` int ,
`6/10/2013` int ,
`8/10/2013` int ,
`10/10/2013` int ,
`12/10/2013` int
);

#Importing Data into table DressSales
LOAD DATA LOCAL INFILE 'C:\Users\edxxdee\Dress Sales.csv' INTO TABLE DressSales
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 ROWS;

#Checking imported data
Select * from DressSales;

In [3]:
##3.Read these datatset in pandas as a dataframe
import mysql.connector as connection
import pandas as pd


mydb = connection.connect(host = "Localhost", user = "root", passwd = "mysql", use_pure = True)
print(mydb)


Query1 = pd.read_sql('select * from task24.AttributeData', mydb)
Query2 = pd.read_sql('select * from task24.DressSales', mydb)


#Converting SQL to DataFrame
AttributeData = pd.DataFrame(Query1, columns = ['Dress_id','Style varchar' , 'Price','Rating','Size','Season',
                                                     'Neckline','SleeveLength', 'Waistline','Material','FabricType',
                                                     'Decoration','PatternType','Recommendation'])

DressSales = pd.DataFrame(Query2, columns = ['Dress_id','29/8/2013', '31/8/2013', '2/9/2013','4/9/2013','6/9/2013','8/9/2013','10/9/2013',
                                        '12/9/2013','14/9/2013','16/9/2013','18/9/2013','20/9/2013','22/9/2013','24/9/2013'
                                        '24/9/2013','26/9/2013','28/9/2013','30/9/2013','2/10/2013','4/10/2013','6/10/2013',
                                        '8/10/2013','10/10/2013','12/10/2013'])


print(AttributeData) 
print(DressSales)

<mysql.connector.connection.MySQLConnection object at 0x0000017D7C154588>
       Dress_id  Style varchar    Price  Rating  Size  Season   Neckline  \
0    1006032852            NaN      Low     4.6     M  Summer     o-neck
1    1212192089            NaN      Low     0.0     L  Summer     o-neck
2    1190380701            NaN     High     0.0     L  Automn     o-neck
3     966005983            NaN  Average     4.6     L  Spring     o-neck
4     876339541            NaN      Low     4.5     M  Summer     o-neck
..          ...            ...      ...     ...   ...     ...        ...
495   713391965            NaN      Low     4.7     M  Spring     o-neck
496   722565148            NaN      Low     4.3  free  Summer     o-neck
497   532874347            NaN  Average     4.7     M  Summer     v-neck
498   655464934            NaN  Average     4.6     L  winter  boat-neck
499   919930954            NaN      Low     4.4  free  Summer     v-neck

    SleeveLength Waistline       Material  FabricType  Decoration PatternType  \
0      sleevless    empire           None     chiffon     ruffles      animal
1          Petal   natural     microfiber        None     ruffles      animal
2           full   natural       polyster        None        None       print
3           full   natural           silk     chiffon  embroidary       print
4      butterfly   natural  chiffonfabric     chiffon         bow         dot
..           ...       ...            ...         ...         ...         ...
495         full   natural       polyster        None        None       solid
496         full    empire         cotton        None        None        None
497         full    empire         cotton        None        lace       solid
498    sleevless    empire           silk  broadcloth    applique       print
499        short    empire         cotton    Corduroy        lace       solid

     Recommendation
0                 1
1                 0
2                 0
3                 1
4                 0
..              ...
495               1
496               0
497               1
498               1
499               0

[500 rows x 14 columns]
     Dress_id  29/8/2013  31/8/2013  2/9/2013  4/9/2013  6/9/2013  8/9/2013  \
0         NaN       2114       2274      2491      2660      2727      2887
1         NaN        151        275       570       750       813      1066
2         NaN          6          7         7         7         8         8
3         NaN       1005       1128      1326      1455      1507      1621
4         NaN        996       1175      1304      1396      1432      1559
..        ...        ...        ...       ...       ...       ...       ...
493       NaN          0          0         0       560       554       544
494       NaN          0          0         0       875       866       861
495       NaN          0          0         0       734       728       726
496       NaN          0          0         0       254       259       261
497       NaN          0          0         0       538       545       558

     10/9/2013  12/9/2013  14/9/2013  ...  24/9/201324/9/2013  26/9/2013  \
0         2930       3119       3204  ...                 NaN       3624
1         1164       1558       1756  ...                 NaN       2942
2            9         10         10  ...                 NaN         11
3         1637       1723       1746  ...                 NaN       1892
4         1570       1638       1655  ...                 NaN       2156
..         ...        ...        ...  ...                 ...        ...
493        537        525        519  ...                 NaN        388
494        854        850        844  ...                 NaN        866
495        715        694        690  ...                 NaN        597
496        263        268        270  ...                 NaN        256
497        563        578        585  ...                 NaN        632

     28/9/2013  30/9/2013  2/10/2013  4/10/2013  6/10/2013  8/10/2013  \
0         3706       3746       3795       3832       3897        NaN
1         3258       3354       3475       3654       3911        NaN
2           11         11         11         11         11        NaN
3         1914       1924       1929       1941       1952        NaN
4         2252       2312       2387       2459       2544        NaN
..         ...        ...        ...        ...        ...        ...
493        360        364        372        377        380        NaN
494        882        888        895        898        906        NaN
495        586        569        561        555        551        NaN
496        255        254        253        250        249        NaN
497        639        645        651        655        660        NaN

     10/10/2013  12/10/2013
0          3985        4048
1          4125        4277
2            11          11
3          1959        1963
4          2693        2736
..          ...         ...
493         384         285
494         919         931
495         535         520
496         249         248
497         674         680

[498 rows x 24 columns]

In [4]:
##4.Convert attribute dataset in json format
AttributeData_json = AttributeData.to_json()

In [6]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.2.0-cp37-cp37m-win_amd64.whl (374 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.2.0

In [11]:
!pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in c:\programdata\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0; extra == "srv" in c:\programdata\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.1)

In [ ]:
##5.Store this dataset into MongoDB(insert_many)
import pymongo
import json
from pymongo import MongoClient, InsertOne
client =pymongo.MongoClient("mongodb+srv://deepshikha:MongoDB@cluster0.ogsu8.mongodb.net/?retryWrites=true&w=majority")
db= client.test

#Creating Database
database = client['Task']
#Creating Collection/Document inside Database 
collection = database["Json"]
#Replacing single quotes with double quotes on attribute_data_json to make it valid json

print(AttributeData_json)

with open(r'C:\Users\edxxdee\AttributeData.json') as file:
    data = json.load(file)

# Inserting the loaded data in the Collection
if isinstance(data, list):
    collection.insert_many(data)
else:
    collection.insert_one(data)

In [ ]:
##6.In SQL task try to perform left join opeartion with Attribute Dataset and Dress Sales on Column(DressID).
select Dress_id.AttributeData
from AttributeData 
left join DressSales on Dress_id.AttributeData=Dress_id.DressSales;

In [13]:
##7.Write  a SQL Query to find out how many unique dress that we have , based on DressID
import mysql.connector as connection
mydb = connection.connect(host = "Localhost", user = "root", passwd = "mysql", use_pure = True)
cursor = mydb.cursor()
cursor.execute("select count(distinct(dress_id)) from task24.AttributeData")
for i in cursor.fetchall():
  print(i)

(475,)

In [ ]:
##8.Try to find out how many dress is having recommendation =0
select count(*) as DressWithNoSale 
from AttributeData 
where recommendation = 0;

In [ ]:
##9.Try to find out total dress sale for each dressID(individually)
select Dress_id,
COALESCE(`29/8/2013`,0) + COALESCE(`31/8/2013`,0) + COALESCE(`2/9/2013`,0) + COALESCE(`4/9/2013`,0)+COALESCE(`6/9/2013`,0)+COALESCE(`8/9/2013`,0)+COALESCE(`10/9/2013`,0)+COALESCE(`12/9/2013`,0)+
COALESCE(`14/9/2013`,0)+COALESCE(`16/9/2013`,0)+COALESCE(`18/9/2013`,0)+COALESCE(`20/9/2013`,0)+COALESCE(`22/9/2013`,0)+COALESCE(`24/9/2013`,0)+
COALESCE(`26/9/2013`,0)+COALESCE(`28/9/2013`,0)+COALESCE(`30/9/2013`,0)+COALESCE(`2/10/2013`,0)+COALESCE(`4/10/2013`,0)+COALESCE(`6/10/2013`,0)
AS "Total" from DressSales group by Dress_id ;

In [ ]:
##10.Try to find out 3rd highest most selling dressID


#creating view for sum of dress as dress_id
create view Total_Sale as 
select Dress_id,
COALESCE(`29/8/2013`,0) + COALESCE(`31/8/2013`,0) + COALESCE(`2/9/2013`,0) + COALESCE(`4/9/2013`,0)+COALESCE(`6/9/2013`,0)+COALESCE(`8/9/2013`,0)+COALESCE(`10/9/2013`,0)+COALESCE(`12/9/2013`,0)+
COALESCE(`14/9/2013`,0)+COALESCE(`16/9/2013`,0)+COALESCE(`18/9/2013`,0)+COALESCE(`20/9/2013`,0)+COALESCE(`22/9/2013`,0)+COALESCE(`24/9/2013`,0)+
COALESCE(`26/9/2013`,0)+COALESCE(`28/9/2013`,0)+COALESCE(`30/9/2013`,0)+COALESCE(`2/10/2013`,0)+COALESCE(`4/10/2013`,0)+COALESCE(`6/10/2013`,0)
AS "Total" from DressSales ;

#calculating 3rd highest sale sum
select * from Total_sale ORDER BY Total DESC
LIMIT 1 
OFFSET 2